blog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="blogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="blog"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="blog">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="time"/>
        <xs:element ref="title"/>
        <xs:element ref="text"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="time" type="xs:integer"/>
  <xs:element name="title" type="xs:string"/>
  <xs:element name="text" type="xs:string"/>
</xs:schema>
